<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team_project.lesson_sueop.mapper.LessonMapper">

    <!--    변재혁님 여기 아래부터 작성 시작-->
    <insert id="insertNewLesson" parameterType="com.example.team_project.lesson_sueop.dto.LessonDTO"
            useGeneratedKeys="true" keyColumn="lesson_idx" keyProperty="lessonIdx">
        INSERT
        INTO lesson(lesson_name, lesson_sequence, class_idx,
                    lesson_time, lesson_original_filename, lesson_saved_filename)
        VALUES(#{lessonName}, #{lessonSequence}, #{classIdx},
               #{lessonTime}, #{lessonOriginalFilename}, #{lessonSavedFilename})
    </insert>


    <!--    남원우님 여기 아래부터 작성 시작-->


    <!--   차소영님 여기 아래부터 작성 시작-->


    <!--   유지호님 여기 아래부터 작성 시작-->


</mapper>