<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team_project.teacher.mapper.TeacherMapper">

    <!--    변재혁님 여기 아래부터 작성 시작-->
    <select id="getAllTeacher" resultType="com.example.team_project.teacher.dto.TeacherDTO">
        select *
        from teacher
    </select>


    <!--    남원우님 여기 아래부터 작성 시작-->
    <!-- 회원가입(선생님) -->
    <insert id="joinTeacher" parameterType="com.example.team_project.teacher.dto.TeacherDTO">
        INSERT INTO teacher (teacher_id, teacher_password,teacher_name, teacher_address)
        VALUES ( #{teacherId}, #{teacherPassword}, #{teacherName} , #{teacherAddress} )
    </insert>
    <!--정보수정(선생님)-->
    <update id="editTeacher" parameterType="com.example.team_project.teacher.dto.TeacherDTO">
        update teacher set teacher_password = #{teacherPassword}, teacher_address = #{teacherAddress}
        where teacher_id = #{teacherId}
    </update>
    <!--     로그인(선생님)  -->
    <select id="loginTeacher" parameterType="map" resultType="int" >
        select count(*)
        from teacher
        where teacher_password = #{teacherPassword} and teacher_id = #{teacherId}
    </select>
    <select id="idCheck" parameterType="String" resultType="com.example.team_project.teacher.dto.TeacherDTO">
        select *
        from teacher
        where teacher_id = #{teacherId}
    </select>

    <select id="infoTeacher" parameterType="String" resultType="com.example.team_project.teacher.dto.TeacherDTO">
        select *
        from teacher
        where teacher_id = #{teacherId}
    </select>
    <!--    차소영님 여기 아래부터 작성 시작-->


    <!--    유지호님 여기 아래부터 작성 시작-->


</mapper>
