<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team_project.teacher.mapper.TeacherMapper">

    <!--    변재혁님 여기 아래부터 작성 시작-->
    <select id="getAllTeacher" resultType="com.example.team_project.teacher.dto.TeacherDTO">
        select *
        from teacher
    </select>


    <!--    남원우님 여기 아래부터 작성 시작-->
    <!-- 회원가입(선생님) -->
    <insert id="joinTeacher" parameterType="com.example.team_project.teacher.dto.TeacherDTO">
        INSERT INTO teacher (teacher_id, teacher_password,teacher_name )
        VALUES (  #{teacher_id}, #{teacher_password}, #{teacher_name})
    </insert>

    <!--    차소영님 여기 아래부터 작성 시작-->


    <!--    유지호님 여기 아래부터 작성 시작-->


</mapper>
