<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver" />
                <property name="url" value="jdbc:mariadb://localhost:3306/team4" />
                <property name="username" value="root" />
                <property name="password" value="12345" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapperxml/teacher/TeacherMapper.xml" />
        <mapper resource="mybatis/mapperxml/class_gangui/ClassMapper.xml" />
        <mapper resource="mybatis/mapperxml/lesson_sueop/LessonMapper.xml" />
        <mapper resource="mybatis/mapperxml/student/StudentMapper.xml" />
        <mapper resource="mybatis/mapperxml/board/BoardMapper.xml" />
        <mapper resource="mybatis/mapperxml/comment/CommentMapper.xml" />
    </mappers>
</configuration>